<h1>{{titulo}}</h1>
<table border="1">
  <tr>
    <td>Codigo</td><td>Descripcion</td><td>Precio</td>
  </tr>
{{#each articulos}}
  <tr>  
     <td>{{codigo}} </td> <td>{{descripcion}}</td> <td>{{precio}}</td>
  </tr>   
{{/each}}
</table>
<p>Descuentos vigentes el día lunes:{{descuento.lunes}}</p>
<p>Descuentos vigentes el día martes:{{descuento.martes}}</p>